.file {
    background-color: #ffffff;
    border-bottom: 1px solid #cbcbcb;
    padding: 2px 2px 0 2px;
}

.icon {
    display: inline-flex;
    width: 16px;
    height: 16px;
    padding: 2px 2px 0 2px;
}

.name {
    display: inline-flex;
    padding: 2px 2px 0 2px;
}

.size {
    display: inline-flex;
    padding: 2px 2px 0 2px;
}