ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.folder {
    background-color: #efefef;
    padding: 2px 2px 0 2px;
}

.icon {
    display: inline-flex;
    width: 16px;
    height: 16px;
    padding: 2px 2px 0 2px;
}

.name {
    display: inline-flex;
    padding: 2px 2px 0 2px;
}